<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style-page2.css">
    <link rel="stylesheet" href="/css/standings.css">
     <link rel="stylesheet" href="/css/ottelut.css">
    <link rel="stylesheet" href="/css/pelaajat.css">
</head>
<body>
    <!-- Pink splash oikeassa yläkulmassa -->
    <div class="pink-splash"></div>