<%- include('partials/header') %>
<%- include('partials/navbar') %>

<!-- Koripallo logo oikeaan laitaan -->
<div class="basketball-logo"></div>

<main class="sarja">
    <div class="sarja-section">
     
        <div class="sarja-text">
            <h1>EBT Tytöt 2015</h1>
            <p>Tässä esittelyssä iloinen joukkueemme.</p>
         
        </div>
    </div>
</main>

<%- include('partials/footer') %>