<%- include('partials/header') %>
<%- include('partials/navbar') %>

<!-- Koripallo logo oikeaan laitaan -->
<div class="basketball-logo"></div>

<main class="sarja">
    <div class="sarja-section">
     
        <div class="sarja-text">
            <h1>Sarjataulukko 1-divari</h1>
            <p>Pelaamme 2015 syntyneiden tyttöjen sarjoja sekä 1.- että 2.-divisioonassa.</p>
         
        </div>
    </div>
</main>

<%- include('partials/footer') %>